<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aviso Legal y Condiciones de Uso - Pawzy</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/condiciones.css"> <!-- Enlace a tu archivo CSS -->
</head>
<body>

<div class="container">
  <div class="row">

    <nav class="col-md-3 d-none d-md-block sidebar">
      <h3>Tabla de contenidos</h3>
      <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="#informacion-general">I. Información General</a></li>
        <li class="nav-item"><a class="nav-link" href="#terminos">II. Términos y Condiciones</a></li>
        <li class="nav-item"><a class="nav-link" href="#usuario">III. El Usuario</a></li>
        <li class="nav-item"><a class="nav-link" href="#navegacion">IV. Acceso y Navegación</a></li>
        <li class="nav-item"><a class="nav-link" href="#propiedad">V. Propiedad Intelectual</a></li>
        <li class="nav-item"><a class="nav-link" href="#legislacion">VI. Legislación Aplicable</a></li>
      </ul>
    </nav>


    <div class="col-md-9">
      <div class="paper">
        <header class="text-center">
          <h2 class="m-auto">AVISO LEGAL Y CONDICIONES GENERALES DE USO</h2>
          <h4><span class="blanc-space">Pawzy</span></h4>
        </header>
        <div>
          <section id="informacion-general">
            <h3>I. INFORMACIÓN GENERAL</h3>
            <p>En cumplimiento con la Ley 34/2002 de Servicios de la Sociedad de la Información y el Comercio Electrónico...</p>
            <p>La titularidad de este sitio web, <span class="blanc-space">Pawzy</span>, la ostenta: <span class="blanc-space">PawzyCrew</span>.</p>
            <p>Dirección: <span class="blanc-space">Polígono de Aguamarga 20</span></p>
            <p>Teléfono de contacto: <span class="blanc-space">675238914</span></p>
            <p>Email de contacto: <span class="blanc-space">pawzycrew@gmail.com</span></p>
          </section>

          <section id="terminos">
            <h3>II. TÉRMINOS Y CONDICIONES GENERALES DE USO</h3>
            <h4>El objeto de las condiciones: El Sitio Web</h4>
            <p>El objeto de las presentes Condiciones Generales de Uso (en adelante, Condiciones) es regular el acceso y la utilización del Sitio Web. A los efectos de las presentes Condiciones se entenderá como Sitio Web: la apariencia externa de los interfaces de pantalla, tanto de forma estática como de forma dinámica, es decir, el árbol de navegación; y todos los elementos integrados tanto en los interfaces de pantalla como en el árbol de navegación (en adelante, Contenidos) y todos aquellos servicios o recursos en línea que en su caso ofrezca a los Usuarios (en adelante, Servicios).</p>
            <p><span class="blanc-space">Pawzy</span> se reserva la facultad de modificar, en cualquier momento, y sin aviso previo, la presentación y configuración del Sitio Web y de los Contenidos y Servicios que en él pudieran estar incorporados. El Usuario reconoce y acepta que en cualquier momento <span class="blanc-space">Pawzy</span> pueda interrumpir, desactivar y/o cancelar cualquiera de estos elementos que se integran en el Sitio Web o el acceso a los mismos.</p>
            <p>El acceso al Sitio Web por el Usuario tiene carácter libre y, por regla general, es gratuito sin que el Usuario tenga que proporcionar una contraprestación para poder disfrutar de ello, salvo en lo relativo al coste de conexión a través de la red de telecomunicaciones suministrada por el proveedor de acceso que hubiere contratado el Usuario.</p>
          </section>

          <section id="usuario">
            <h4>El Usuario</h4>
            <p>El acceso, la navegación y uso del Sitio Web confiere la condición de Usuario, por lo que se aceptan, desde que se inicia la navegación por el Sitio Web, todas las Condiciones aquí establecidas, así como sus ulteriores modificaciones, sin perjuicio de la aplicación de la correspondiente normativa legal de obligado cumplimiento según el caso. Dada la relevancia de lo anterior, se recomienda al Usuario leerlas cada vez que visite el Sitio Web.</p>
            <p>El Sitio Web de <span class="blanc-space">Pawzy</span> proporciona gran diversidad de información, servicios y datos. El Usuario asume su responsabilidad para realizar un uso correcto del Sitio Web.</p>
            <ul>
              <li>Un uso de la información, Contenidos y/o Servicios y datos ofrecidos por <span class="blanc-space">Pawzy</span> sin que sea contrario a lo dispuesto por las presentes Condiciones, la Ley, la moral o el orden público.</li>
              <li>La veracidad y licitud de las informaciones aportadas por el Usuario en los formularios extendidos por <span class="blanc-space">Pawzy</span>.</li>
            </ul>
          </section>

          <section id="navegacion">
            <h3>III. ACCESO Y NAVEGACIÓN EN EL SITIO WEB: EXCLUSIÓN DE GARANTÍAS Y RESPONSABILIDAD</h3>
            <p><span class="blanc-space">Pawzy</span> no garantiza la continuidad, disponibilidad y utilidad del Sitio Web, ni de los Contenidos o Servicios. <span class="blanc-space">Pawzy</span> hará todo lo posible por el buen funcionamiento del Sitio Web, sin embargo, no se responsabiliza ni garantiza que el acceso a este Sitio Web no vaya a ser ininterrumpido o que esté libre de error.</p>

            <section id="propiedad">
              <h3>IV. POLÍTICA DE ENLACES</h3>
              <p>Se informa que el Sitio Web de <span class="blanc-space">Pawzy</span> pone o puede poner a disposición de los Usuarios medios de enlace a sitios web pertenecientes y/o gestionados por terceros.</p>
              <p><span class="blanc-space">Pawzy</span> no asume ninguna responsabilidad por los daños y perjuicios que pudieran producirse por el acceso, uso, calidad o licitud de los contenidos, comunicaciones, opiniones, productos y servicios de los sitios web no gestionados por <span class="blanc-space">Pawzy</span>.</p>

              <h3>V. PROPIEDAD INTELECTUAL E INDUSTRIAL</h3>
              <p><span class="blanc-space">Pawzy</span> es titular de todos los derechos de propiedad intelectual e industrial del Sitio Web, así como de los elementos contenidos en el mismo.</p>
              <p>Todos los derechos reservados. En virtud de lo dispuesto en la Ley de Propiedad Intelectual, quedan expresamente prohibidas la reproducción, la distribución y la comunicación pública de la totalidad o parte de los contenidos de esta página web, con fines comerciales, sin la autorización de <span class="blanc-space">Pawzy</span>.</p>
            </section>

            <section id="legislacion">
              <h3>VI. ACCIONES LEGALES, LEGISLACIÓN APLICABLE Y JURISDICCIÓN</h3>
              <p><span class="blanc-space">Pawzy</span> se reserva la facultad de presentar las acciones civiles o penales que considere necesarias por la utilización indebida del Sitio Web y Contenidos.</p>
              <p>La relación entre el Usuario y <span class="blanc-space">Pawzy</span> se regirá por la normativa vigente y de aplicación en el territorio español.</p>
            </section>

            <p>Este documento de Aviso Legal y Condiciones Generales de uso del sitio web ha sido creado mediante el generador de <a class="text-body text-decoration-none" href="https://textos-legales.edgartamarit.com/">plantilla de aviso legal y condiciones de uso</a> online.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>